<!-- season.html -->
{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="../static/datable.css">
<link rel="stylesheet" href="../static/scrollbar.css">
<link rel="stylesheet" href="../static/toprank.css">
<link rel="stylesheet" href="../static/home.css">
<link rel="stylesheet" href="../static/table_header.css">
<link rel="stylesheet" href="../static/general.css">
<link rel="stylesheet" href="../static/dailies.css">
{% endblock %}

{% block title %}
  Season {{ season_number }}
{% endblock %}

{% block layout %}
<div class="ragna_seasons_layout">
  {% block bar %}
  <div class="scrollbar">
    {% for season_number in [index, 38, 37, 36, 35, 34.5, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25.5, 25, 24, 23, 22, 21, 20, 19, 18]%}
      {% if season_number == index %}
        <a class="btn btn-primary" href="../index.html">Home</a>
      {% else %}
        <a class="btn btn-primary" href="s{{ season_number }}.html">Ragna S{{ season_number }}</a>
      {% endif %}
    {% endfor %}
  </div>
  {% endblock %}

  {% block content %}
    <div class="top_rank_grid">
      <p class="top_msg">Slime Results for Ragna Season {{ season_number }}</p>

      <div class="misc_stats">
        <div class="sum">
          <p class="misc_stats_text">
            total slimes: {{ sum_of_slimes }}
          </p>
          <p class="misc_stats_text">
            total zooms: {{ sum_of_zooms }}
          </p>
        </div> <!-- end of div for sum-->

        <div class="average">
          <p class="misc_stats_text">
            average slimes: {{ average_of_slimes }}
          </p>
          <p class="misc_stats_text">
            average zooms: {{ average_of_zooms }}
          </p>
        </div> <!--end of div for average-->
      </div> <!--end of div for misc_stats-->

      <div class="top_rank_info">
        <div class="second">
          <div class="tooltip"></div>
          <div class="member_name">
            {{ top_members[1].name }}
          </div>
          <div class="member_slime">
            <u>{{ top_members[1].slimes }}</u> slimes
          </div>
        </div> <!--end of div for second-->

        <div class="first">
          <div class="tooltip"></div>
          <div class="member_name">
            {{ top_members[0].name }}
          </div>
          <div class="member_slime">
            <u>{{ top_members[0].slimes }}</u> slimes
          </div>
        </div> <!--end of div for first-->

        <div class="third">
          <div class="tooltip"></div>
          <div class="member_name">
            {{ top_members[2].name }}
          </div>
          <div class="member_slime">
            <u>{{ top_members[2].slimes }}</u> slimes
          </div>
        </div> <!--end of div for class="third"-->

      </div> <!--end of div for class="top_rank_info"-->
    </div> <!--end of div for top_rank_grid-->

    <!--conditional rendering-->
    <div class="chart_container js_chart_container" id="js_chart_container" style="display: none;">
      <div class="daili_chart_container">
        <canvas id="js_dailies_chart"></canvas>
      </div> 
      <div class="slider_container">
        <input type="range" id="js_dailies_slider" min="0" max="placeHolder"step="1" value="placeholder">
      </div>

    </div> <!--end of div of chart_container-->


    <div class="chart_container js_chart_container" id="js_chart_container" style="display: none;">
      <div class="hourly_chart_container">
        <canvas id="js_hourly_chart"></canvas>
      </div>
    </div> <!--end of div of chart_container-->

    <div class="chart_container js_chart_container" id="js_chart_container" style="display: none;">
      <div>
        <canvas id="js_day_chart"></canvas>
      </div>
    </div>
    <!--end of conditional rendering-->

    <table class="table table-hover table-dark">
        <thead>
            <tr class="th_row">
                <th scope="col" class="table_header">
                    <img class="slime_img" src="../static/img/crystal.webp">
                    <span>Ranking</span>
                </th>

                <th scope="col" class="table_header js_table_header" data-group="name">
                  <div class="table_header_container">
                    <img class="name_img" src="../static/img/vecteezy_pencil-icon-png-transparent_9663676_10.png">
                    <span>Name</span>
                  </div>
                </th>

                <th scope="col" class="table_header js_table_header" data-group="slimes">
                  <div class="table_header_container">
                    <img class="slime_img" src="../static/img/AuroraKing.webp">
                    <span>Slimes</span>
                  </div>
                </th>

                <th scope="col" class="table_header js_table_header" data-group="zooms">
                  <div class="table_header_container">
                    <img class="zoom_img" src="../static/img/r_running3.png">
                    <span>Zooms</span>
                </div>
                </th>

                <th scope="col" class="table_header js_table_header" data-group="time_between_slimes">
                  <div class="table_header_container">
                    <span>Time between Slimes</span>
                </div>
                </th>

            </tr>
        </thead>

        <tbody class="js-table-grid">
        </tbody>

    </table>
  {% endblock %}
</div>
{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script> window.jsonSeasonData = {{ json_datastring }}</script>
  <script> window.seasonNumber = {{ season_number }}</script>
  <script src="../scripts/ranking-button.js"></script>
  {% if season_number|int > 37 %}
    <script> window.slime_records = {{ slime_records }}</script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../scripts/daily-slimes.js"></script>
  {% endif %}
{% endblock %}